//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 25 13:36:27 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Semaforo1<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "Semaforo1<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "Clk" LOCATE = SITE "B8" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

